.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 50px auto;
    justify-content: center;
    
    
}
.field {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}